<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Guess the Number</title>
    <link rel="stylesheet" href="../stylesheets/main.css">
  </head>
  <body class="body">
    <div class="container text-center">

      <div class="title">
        <h1>Welcome to the Number Guessing Game!</h1>
      </div>

      <div class="content-container medium-7-centered large-6-centered">
        <h2>You have <span id="tries"></span> tries remaining to guess a number from 0 to 10.</h2>
        <div class="input-container">
          <input id="numInput" type="text" placeholder="Type a number">
          <input id="button" class="btn" type="button" value="Submit Guess!">
        </div>
        <h2 class="result">Result: <span id="result"></span></h2>
        <input class="reload btn" type="button" value="Click to play again!">
      </div>

      <div class="victory-notification show-for-medium">
        <a href="#" class="close-button" title="Close(Esc)">
          <span class="close-bars"></span>
        </a>
        <h1 class="victory-text text-center">You won! Congrats!!</h1>
      </div>
    </div>
    <script type="text/javascript" src="../javascripts/app.js"></script>
  </body>
</html>
